<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Default document configuration -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <!-- Rewrite everything to /public folder -->
        <rule name="Laravel to public">
          <match url="(.*)" ignoreCase="false" />
          <!-- Rewrite request to the public folder -->
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <!-- Handle Laravel routes inside /public folder -->
        <rule name="Laravel Routes" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <!-- Skip if requested file or directory physically exists -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- Send all other requests to Laravel front controller -->
          <action type="Rewrite" url="public/index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
